.main-menu {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 750px;
  height: 60px;
  margin: 100px auto 0;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s;
  /* all 안에 이미 불투명도와 트랜스폼 속성이 포함되어 있는데, 굳이 두번에 걸쳐서 트랜지션을 사용할 이유가 있는지? */
  transition: opacity 0.1s, transform 0.2s;
}

.dropdownBackground::before,
.dropdown::before {
  background-color: antiquewhite;
  content: '';
  position: absolute;
  display: inline-block;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff transparent;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-list > li {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 120px;
}

.menu-list > li > a {
  align-self: center;
}

.menu-list li {
  list-style: none;
  text-decoration: none;
  outline: none;
}

.menu-list li a {
  color: #000;
  text-decoration: none;
}

.dropdown {
  padding: 40px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(110px);
  /* 불투명도 일단은 1로 설정 */
  opacity: 1;
  /* 디스플레이 나중에 none으로 설정하기 */
  display: flex;
  transition: all 0.5s;
}

.dropdown::before {
  border-color: transparent;
}

.dropdown.dropdown1 {
  max-width: 360px;
}

.dropdown ul {
  max-width: 300px;
}

.dropdown li {
  margin-bottom: 20px;
}

.dropdown li:last-child {
  margin-bottom: 0;
}

li .icon {
  margin-right: 10px;
  height: 100%;
}

.about {
  text-align: center;
}

.about img {
  width: 200px;
  margin-bottom: 30px;
}

.about p {
  width: 350px;
}
